body{
    background-color: lightblue;
}
#container{
    display: grid;
    grid-template-columns: 2fr 2fr 7fr;
    grid-template-rows: 1fr 10fr;
    gap: 10px;
    height: 900px;
}
header{
    text-align: center;
    background-color: blue;
    padding: 1rem;
    margin-bottom: 1rem;
}
#submit, #search, #maxRows{/*header >*/
    background-color: lightblue;
    color: darkblue;
    font-weight:bold;
    padding: 0.5rem;
    margin-right: 5px;
    border: 10px solid pink;
    border-radius: 20%;
    text-align: center;
}
#maxRows{
    width: 65px;
}
#clearShapes{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}
#clearShapes > button{
    width: 42%;
    height: fit-content;
    padding: 10px;
    grid-row: 1;
    grid-column: 2;
    border: 12px double purple;
    background-color: black;
    border-radius: 100%;
    color: yellow;
    font-family: cursive;
    font-size: 1.2rem;
}
#clearShapes > button:hover{
    background-color: yellow;
    color: black;
    border-color: orange;
    /* font-family: fantasy; */
}
#shapesSum{
    grid-row: 2 / 7;
    overflow-x: auto;
    text-align: center;
    color: darkgreen;
    font-family: fantasy;
}
#shapesSum > section{
    color: blue;
    font-family: cursive;
}
.shapeName{
    color: red;
    font-weight: 900;
}
.box{
    border: 10px dashed pink;
    border-radius: 8%;
    margin-bottom: 8px;
}
.special{
    color: rgb(212, 64, 212);
    font-weight: bold;
    font-style: italic;
}
main{
    width: 100%;
    height: 900px;
    grid-row: 1 / 3;
}
#map{
   width: 100%; 
   height: 100%;
}
#sidebar{
    height: 900px;
    grid-row: 1 / 3;
}
#side{
    overflow-y: auto;
    border-right: 1px solid blue;
    height: 100%;
    box-sizing: border-box;
    /* max-height: max-content; */
}
.items{
    border: 20px solid salmon;
    border-radius: 8%;
    background-color: lightcyan;
    color: darkgreen;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0.5rem;
    overflow: auto;
    text-align: center;
    cursor: pointer;
}
img{
    width: 250px;
    height: 175px;
    margin: auto;
}
#title{
    font-family: fantasy;
}
#sum, #infoSum{
    text-align: justify;
    font-style: italic;
}
#infoSum{
    font-family: cursive;
    color: seagreen;
    background-color: pink;
    padding: 10px;
    font-size: 1.3rem;
}
.block, img{
    display: block;
}
.wikAnc:hover{
    color: rgb(214, 15, 48);
    font-size: 1.5rem;
} 
/*#locFind{
    position: fixed;
    top: 40%;
    left: 40%;
    width: 100px;
    height: 100px;
    background-color: darkmagenta;
    columns: yellow;
    display: none;
} */