body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 1fr 5fr 5fr;
    background-image: url('media/waterfall.png');
    background-repeat: no-repeat;
    background-size: cover;
}
#clearStorage{
    position: absolute;
    top: 100px;
    left: 5px;
    background-color: salmon;
    border: 15px double blue;
    border-radius: 50%;
    padding: 10px;
    color: purple;
    font-size: 2rem;
    font-family: fantasy;
}
#clearStorage:hover{
    background-color: blue;
    border-color: salmon;
    color: yellow;
}
#gameArea1{
    background-image: url('media/potatoHead.png');
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
    grid-row: 2;
    grid-column: 2;
}
#gameArea2{
    background-image: url('media/realPotatoHead.png');
    background-repeat: no-repeat; 
    background-position: center;
    grid-row: 2;
    grid-column: 3;
}
audio{
    position: absolute;
    top: 0;
    left: 0;
}
  header {
    background-color: brown;
    color: gold;
    grid-row: 1;
    grid-column: 1 / -1;
    text-align: center;
    font-family: cursive;
  }

  header h2,
  header h5 {
    display: inline;
    margin: 20px;
  }

  header h1 {
    color: pink;
  }

  #toolBox {
    border: 20px solid yellow;
    background-color: lightblue;
    height: 1100px;
    /* min-height: min-content; */
    width: 300px;
    /* margin: auto; */
    grid-column: 1;
    grid-row: 2;
    text-align: center;
    font-style: italic;
    font-family: cursive;
    font-size: 3rem;
    color: lime;
  }
  #toolBox h4{
      margin: 10px;
  }

  #tools {
    margin: 10px;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
    /* text-align: center; */
  }
  #tools > *{
      margin: auto;
      /* position: absolute; */
  }
  .box {
      width: 75px;
      height: 75px;
      z-index: 0;
      /* border: 1px solid black; */
      /* background-color: yellow; */
      /* position: absolute; */
      /* top: 34px;
      left: 6px; */
    }
#popUp{
    position: absolute;
    width: 500px;
    height: 200px;
    border: 10px dotted pink;
    border-radius: 20%;
    background-color: brown;
    text-align: center;
    color: chartreuse;
    font-family: monospace;
    font-size: 1.5rem;
    z-index: 1;
}
#popUp > div > button{
    background-color: aqua;
    color: brown;
    border: 5px solid salmon;
    border-radius: 5%;
    font-size: 1.5rem;    
    margin: 5px;
    /* display: inline-block; */
}
#popUp > input{
    background-color: salmon;
    color: brown;
    border: 5px solid aqua;
    border-radius: 15%;
    font-size: 1.5rem;
    width: 100px;
    height: 50px;  
    margin: 5px;  
}
.flash{
  background-color: blue;
  border: 10px dashed gold;
  border-radius: 50%;
  color: white;
  font-family: fantasy;
  font-size: 2rem;
  padding: 20px;
  transform: rotate(60deg) scale(1.1, 1.5) skew(1deg, 16deg) translate(-10px, -55px);
}
img{
  background-color: none;
}
#song{
  position: absolute;
  top: 10px;
  right: 10px;
}
#page{
  font-size: 2rem;
  background-color: aqua;
  color: blue;
}